<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/create">Find a Path</a></li>
                <li><a href="/logout">Log Out</a></li>
                <li><a href="/myallpaths">All Paths</a></li>
            </ul>
        </div>
    </div>
</nav>