<% include ./partials/header%>
<% include ./partials/navbar%>
<ul>
            <% allTimelines.forEach( (timeline) => { %>
            <li id="paths">
                <a href="/path/<%= timeline.dataValues.id %>"> <%= timeline.dataValues.Goal %></a> 
            </li>

            <%})%>
        </ul>
<% include ./partials/footer%>