<% include ./partials/header%>
<% include ./partials/navbar%>

<h1>this exists : digital detox path, travelling path, a path to find a partner, and a coding path</h1>



<% include ./partials/footer%>
