<% include ./partials/header%>
<% include ./partials/offlinenavbar%>

<form class= "lovelyform" action="/login" method="post">
<input id= "userinput" type="text" placeholder="Username" name="username" required>
<input id= "passinput" type="password" placeholder="Password" name="password" required>
<button id= "loginbutton" type="submit">Log in</button>
</form>

<% include ./partials/footer%>