<% include ./partials/header%>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css"/>
</head>

<body id = "body" >

<h1> Your path : (name)</h1>

<div class="hoscroll">
        <img class="lazy" data-src="images/Untitled-1.png" />
</div>

<button type="button" id="addm">Add milestone</button>

<div class="milestones">
<ul id= "mile" style="list-style-type:none;">
    <li><input id= "milestone" type="image" src="images/Untitled-4.png" style="width:20em;height:15em;" /></li>
    <li><input id= "milestone1" type="image" src="images/milestone1.png" style="width:30em;height:10em;"/></li>
</ul>
</div>

<div class="forms">
<form  id="form">
    <b>First step of path:</b> <input type="text" name="firstName">
    <br>
    <b>Description: </b><input type="text" name="lastName">
    <br>
    <button type="button" id="submit">Submit</button>
</form>


<form  id="form1">
    <b>First step of path:</b> <input type="text" name="firstName">
    <br>
    <b>Description: </b><input type="text" name="lastName">
    <br>
    <button type="button" id="submit">Submit</button>
</form>
</div>



</body>


<script type="text/javascript">
$(document).ready(function() {
    $('#form, #form1').hide(); 

    $('#addm').click(function(){
        $('#milestone').fadeIn(2000);
    });

    $('#milestone').click(function(){
        $("#form").slideDown();
    });

    $('#submit').click(function(){
        $('#milestone1').fadeIn(2000);
    });

    $('#milestone1').click(function(){
        $("#form1").slideDown();
    });  

    $(function() {
        $('.lazy').lazy();
    });
});
</script>


</html>