<% include ./partials/header%>
<% include ./partials/navbar%>
<h1>Hello <%=username%>, isn't it a lovely day to achieve something?</h1>
<br>
<h3> Navigate through your profile to find your path(s)...Create various paths for various reasons and work your way through them. .  .
<h4> Ideas ideas: 
<br>travelling a lot, 
<br>finding a partner, 
<br>digital detox, 
<br>and learning to code.</h4>
</h3>
<% include ./partials/footer%>