<% include ./partials/header%>
<% include ./partials/offlinenavbar%>
<form id= "regform" form action="/register" method="post">
<input id= "enteru" type="text" placeholder="Username" name="username" required>
<input id= "entere" type="text" placeholder="Email" name="email" required>
<input id= "enterp" type="password" placeholder="Password" name="password" required>
<button type="submit">Login</button>
</form>
<% include ./partials/footer%>