#body {
  background-image: url(/images/thepath.png);
  background-size: 1200px;
  background-color: beige;
}

#milestone{
  position: absolute;
  display: none;
  color: transparent;
}

#milestone1{
position: absolute;
float: right;
right: 250px;
width: 200px;
height: 100px;
display: none;
}

#form, #form1{
  position: absolute;
  width: 15em;
  margin: 10em;
  padding: 2em;
  display: inline-block;
}

#form1{
  float: right;
  left: 700px;
}

.hoscroll {
  white-space: nowrap;
}

img.lazy {
  width: 150em; 
  height: 0em; 
  display: inline-block;
  color: transparent;
  
} 


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
